# Python
__pycache__/
*.py[cod]


# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data generated locally
data/raw/
data/processed/

# Temporary files
*.tmp
*.log

# Streamlit
.streamlit/secrets.toml

